/* fonts */

/* <reset> */

/*- -------------------- <reset-start> -------------------- -*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-transform: none;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button {
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*- -------------------- </reset-end> -------------------- -*/

/* <global> */

/* Default font */

/* Constant */

/*****size*****/

/*****color*****/

/*****font-size*****/

/*18*/

/*36*/

/*20*/

/*24*/

/*21*/

/*25*/

/* General settings */

html,
body {
  min-width: 320px;
  height: 100%;
}

html.lock,
body.lock {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1F2030;
  background: #E5E5E5;
}

body.no-scroll {
  overflow: hidden;
}

/* Document wrapper */

.wrapper {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

/* Main grid */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* <sumoselect> */

/*- -------------------- <sumoSelect-start> -------------------- -*/

.SumoSelect {
  width: 200px;
}

.SumoSelect p {
  margin: 0;
}

.SelectBox {
  padding: 5px 8px;
}

.sumoStopScroll {
  overflow: hidden;
}

.SumoSelect .hidden {
  display: none;
}

.SumoSelect .search-txt {
  display: none;
  outline: none;
}

.SumoSelect .no-match {
  display: none;
  padding: 6px;
}

.SumoSelect.open .search-txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px 8px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

.SumoSelect.open > .search > span,
.SumoSelect.open > .search > label {
  visibility: hidden;
}

.SelectClass,
.SumoUnder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.SelectClass {
  z-index: 1;
}

.SumoSelect {
  display: inline-block;
  position: relative;
  outline: none;
}

.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont {
  -ms-user-select: none;
      user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {
  -webkit-box-shadow: 0 0 2px #4169E1;
          box-shadow: 0 0 2px #4169E1;
  border-color: #4169E1;
}

.SumoSelect.open > .CaptionCont {
  -webkit-box-shadow: 0 0 2px #4169E1;
          box-shadow: 0 0 2px #4169E1;
  border-color: #4169E1;
}

.SumoSelect.open > .optWrapper {
  top: 35px;
  display: block;
}

.SumoSelect.open > .optWrapper.up {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}

.SumoSelect > .CaptionCont {
  position: relative;
  border: 1px solid #A4A4A4;
  min-height: 14px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0;
}

.SumoSelect > .CaptionCont > span {
  display: block;
  padding-right: 30px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.SumoSelect > .CaptionCont > span.placeholder {
  color: #ccc;
}

.SumoSelect > .CaptionCont > label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
}

.SumoSelect > .CaptionCont > label > i {
  background-image: url("../img/cost/arrows.svg");
  background-position: center center;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.SumoSelect > .optWrapper {
  display: none;
  z-index: 1000;
  top: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #E5E5E5;
  border: 1px solid #E1EDFA;
  border-radius: 3px;
  overflow: hidden;
}

.SumoSelect > .optWrapper ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.SumoSelect > .optWrapper > .options {
  border-radius: 2px;
  position: relative;
  max-height: 250px;
}

.SumoSelect > .optWrapper.okCancelInMulti > .options {
  border-radius: 2px 2px 0 0;
}

.SumoSelect > .optWrapper.selall > .options {
  border-radius: 0 0 2px 2px;
}

.SumoSelect > .optWrapper.selall.okCancelInMulti > .options {
  border-radius: 0;
}

.SumoSelect > .optWrapper > .options li.group.disabled > label {
  opacity: 0.5;
}

.SumoSelect > .optWrapper > .options li ul li.opt {
  padding-left: 22px;
}

.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
  padding-left: 50px;
}

.SumoSelect > .optWrapper.isFloating > .options {
  max-height: 100%;
  -webkit-box-shadow: 0 0 100px #595959;
          box-shadow: 0 0 100px #595959;
}

.SumoSelect > .optWrapper > .options li.opt {
  padding: 6px 6px;
  position: relative;
}

.SumoSelect > .optWrapper > .options > li.opt:first-child {
  border-radius: 2px 2px 0 0;
}

.SumoSelect > .optWrapper.selall > .options > li.opt:first-child {
  border-radius: 0;
}

.SumoSelect > .optWrapper > .options > li.opt:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: none;
}

.SumoSelect > .optWrapper.okCancelInMulti > .options > li.opt:last-child {
  border-radius: 0;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
  background-color: #E4E4E4;
}

.SumoSelect > .optWrapper > .options li.opt.sel {
  background-color: #a1c0e4;
}

.SumoSelect > .optWrapper > .options li label {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.SumoSelect > .optWrapper > .options li span {
  display: none;
}

.SumoSelect > .optWrapper > .options li.group > label {
  cursor: default;
  padding: 8px 6px;
  font-weight: bold;
}

.SumoSelect > .optWrapper.isFloating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  bottom: 0;
  margin: auto;
  max-height: 90%;
}

.SumoSelect > .optWrapper > .options li.opt.disabled {
  background-color: inherit;
  pointer-events: none;
}

.SumoSelect > .optWrapper > .options li.opt.disabled * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.SumoSelect > .optWrapper.multiple > .options li.opt {
  padding-left: 35px;
  cursor: pointer;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  bottom: 0;
  margin-left: -35px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #4169E1;
  border-radius: 2px;
}

.SumoSelect > .optWrapper > .MultiControls {
  display: none;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 3px 3px;
}

.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
  display: block;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
  padding: 6px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p {
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
  border-right: 1px solid #DBDBDB;
  border-radius: 0 0 0 3px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
  border-radius: 0 0 3px 0;
}

.SumoSelect > .optWrapper.isFloating > .options li.opt {
  padding: 12px 6px;
}

.SumoSelect > .optWrapper.multiple.isFloating {
  padding-bottom: 43px;
}

.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
  padding-left: 35px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i {
  background-color: #4169E1;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

/*- -------------------- </sumoSelect-end> -------------------- -*/

/* <slick> */

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* <sly> */

/*- -------------------- <sly-start> -------------------- -*/

/* Header example */

.exampl,
.example {
  margin: 0 auto;
}

.exampl .frame,
.exampl .block,
.example .frame,
.example .block {
  margin: 0 auto;
  overflow: hidden;
}

.exampl .frame ul,
.exampl .block ul,
.example .frame ul,
.example .block ul {
  list-style: none;
  height: 100%;
}

.exampl .frame ul li,
.exampl .block ul li,
.example .frame ul li,
.example .block ul li {
  float: left;
  margin: 0 31px 0 0;
}

.exampl .frame ul li:last-child,
.exampl .block ul li:last-child,
.example .frame ul li:last-child,
.example .block ul li:last-child {
  margin: 0;
}

/*- -------------------- </sly-end> -------------------- -*/

/* <header> */

/*- -------------------- <header-start> -------------------- -*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 54px 0 59px 0;
}

.header:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #E5E5E5;
}

.header-content {
  position: relative;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  margin: 0 78px 0 0;
}

.header-img1 {
  width: 139px;
  height: 57px;
  margin: 0 37px 0 0;
}

.header-img2 {
  width: 97px;
  height: 62px;
}

.header-img1,
.header-img2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  margin: 0 26px 0 0;
}

.select-box .SumoSelect {
  width: 180px;
}

.select-box .SumoSelect:focus > .CaptionCont,
.select-box .SumoSelect:hover > .CaptionCont {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: inherit;
}

.select-box .SumoSelect .CaptionCont {
  background-color: inherit;
  border: none;
}

.select-box .SumoSelect > .CaptionCont > label > i {
  background-image: url("../../img/header/arrow.svg");
}

.select-box .SumoSelect > .CaptionCont > span {
  padding: 0;
}

.phone-img,
.box-img {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.phone-img {
  margin: 0 10px 0 0;
}

.box-img {
  position: relative;
  right: -20px;
}

.box-select {
  font-size: 1.125em;
  color: #1F2030;
  background: inherit;
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  margin: 0 26px 0 0;
}

.header-phone__text {
  font-size: 1.125em;
  color: #1F2030;
}

.header-email {
  color: #1F2030;
  z-index: 5;
}

.btn {
  display: inline-block;
  justify-items: end;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  border: 1px solid #4169E1;
  border-radius: 12px;
  color: #FFFFFF;
  background: #4169E1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 15px 28px;
  z-index: 5;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.77);
  border: 1px solid rgba(255, 255, 255, 0.77);
}

.header-menu {
  position: absolute;
  top: 114px;
  left: 0;
  z-index: 5;
  width: 100%;
  border-radius: 0 0 12px 12px;
  -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  background: #E1EDFA;
  padding: 17px 0 22px 0;
}

.header-burger {
  display: none;
  cursor: pointer;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.menu-list li + li {
  margin: 0 0 0 67px;
}

.menu-item {
  z-index: 2;
}

.menu-link {
  font-weight: 500;
  font-size: 1.313em;
  color: #1F2030;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.menu-link:hover {
  color: #4169E1;
}

/*- -------------------- </header-end> -------------------- -*/

/* <intro> */

/*- -------------------- <intro-start> -------------------- -*/

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 175px 0 0 0;
}

.intro-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 203px 0 80px 0;
}

.intro-left {
  width: 620px;
  position: relative;
  bottom: -50px;
  left: 49px;
}

.intro-left p span {
  display: none;
}

.intro-title {
  font-weight: bold;
  font-size: 2.563em;
  line-height: 1.5em;
  color: #FFFFFF;
  margin: 0 0 155px 0;
}

.intro-btn {
  font-size: 1.063em;
}

.btn2 {
  display: none;
}

.intro-right {
  width: 365px;
}

.intro-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.intro-img {
  margin: 0 10px 0 0;
}

.intro-text {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.438em;
  color: #FFFFFF;
}

/*- -------------------- </intro-end> -------------------- -*/

/* <intro2> */

/*- -------------------- <intro2-start> -------------------- -*/

.intro2-subtitle {
  display: none;
  font-weight: bold;
  font-size: 1.063em;
  margin: 40px 0 0 0;
}

.intro2-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 105px 0 100px 0;
}

.intro2-item {
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro2-img {
  width: 378px;
  height: 271px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 105px 0;
}

.intro2-text {
  width: 258px;
}

.intro2-text p {
  font-size: 1.125em;
  text-align: center;
  line-height: 1.313em;
}

.intro2-text p span {
  display: inline-block;
  font-weight: bold;
  font-size: 1.75em;
  margin: 0 0 28px 0;
}

/*- -------------------- </intro2-end> -------------------- -*/

/* <what> */

/*- -------------------- <what-start> -------------------- -*/

.what-content {
  padding: 0 0 189px 0;
}

.what-title {
  margin: 105px 0 100px 0;
}

.title {
  position: relative;
  font-weight: bold;
  font-size: 2.25em;
  padding: 0 0 0 35px;
}

.title:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 50px;
  border-left: 21px solid #4169E1;
  border-radius: 8px;
}

.title2 {
  font-weight: bold;
  font-size: 2.5em;
  margin: 20px 0 40px 0;
}

.what-inner {
  width: 1167px;
}

.what-body .frame ul li {
  margin: 0 57px 0 0;
}

.what-item {
  width: 351px;
  height: 697px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.what-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 351px;
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.what-img p {
  font-weight: 500;
  font-size: 1.5em;
  color: #FFFFFF;
}

.what-text {
  width: 351px;
  height: 287px;
  border-left: 1px solid #4169E1;
  border-right: 1px solid #4169E1;
  border-bottom: 1px solid #4169E1;
  border-radius: 0 0 20px 20px;
  font-size: 1.125em;
  line-height: 1.563em;
  overflow: hidden;
  padding: 60px 18px 22px 18px;
}

.what-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-btn {
  display: none;
}

/*- -------------------- </what-end> -------------------- -*/

/* <carpets> */

/*- -------------------- <carpets-start> -------------------- -*/

.carpets-title {
  margin: 0 0 138px 0;
}

.carpets-content {
  width: 1046px;
}

.carpets-item {
  width: 328px;
  height: 382px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #E95243;
  border-radius: 20px;
}

.carpets-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 130px 0 156px 0;
}

/*- -------------------- </carpets-end> -------------------- -*/

/* <cost> */

/*- -------------------- <cost-start> -------------------- -*/

.cost-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost-top {
  -ms-flex-item-align: start;
      align-self: start;
}

.cost-table {
  border-collapse: collapse;
  margin: 105px 0 40px 0;
}

th:first-child {
  border-radius: 20px 0 0 0;
}

th:last-child {
  border-radius: 0 20px 0 0;
}

th {
  font-weight: 500;
  font-size: 1.063em;
  color: #FFFFFF;
  background: #4169E1;
  padding: 10px 38px;
}

tr:nth-child(3),
tr:nth-child(5),
tr:nth-child(7),
tr:nth-child(9) {
  background: #E1EDFA;
}

td {
  text-align: center;
  padding: 10px 0;
}

.cost-note {
  font-size: 1.75em;
  line-height: 1.1em;
}

.cost-subtitle {
  font-weight: bold;
  font-size: 2.25em;
  margin: 40px 0 20px 0;
}

.cost-text {
  font-size: 1.75em;
}

.cost-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 48px 0;
}

.cost-box1 {
  margin: 0 65px 0 0;
}

.cost-box1 .SumoSelect .SelectBox,
.cost-box2 .SumoSelect .SelectBox,
.cost-box3 .SumoSelect .SelectBox {
  border-radius: 5px;
  padding: 17px 8px;
}

.cost-box1 .SumoSelect .optWrapper,
.cost-box2 .SumoSelect .optWrapper,
.cost-box3 .SumoSelect .optWrapper {
  top: 58px;
}

.cost-box1 .SumoSelect {
  width: 277px;
}

.cost-box1 .SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.cost-box2 .SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.cost-box3 .SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont {
  text-align: center;
  font-weight: 700;
  font-size: 0.938em;
}

.cost-box1 .SumoSelect > .optWrapper.multiple > .options li.opt,
.cost-box2 .SumoSelect > .optWrapper.multiple > .options li.opt,
.cost-box3 .SumoSelect > .optWrapper.multiple > .options li.opt {
  padding-left: 35px;
}

.cost-box1 .SumoSelect > .optWrapper > .options li.opt,
.cost-box2 .SumoSelect > .optWrapper > .options li.opt,
.cost-box3 .SumoSelect > .optWrapper > .options li.opt {
  padding: 10px 6px;
}

.cost-box1 .SumoSelect > .optWrapper > .options li.opt:hover span i,
.cost-box2 .SumoSelect > .optWrapper > .options li.opt:hover span i,
.cost-box3 .SumoSelect > .optWrapper > .options li.opt:hover span i {
  -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cost-box1 .SumoSelect > .optWrapper,
.cost-box2 .SumoSelect > .optWrapper,
.cost-box3 .SumoSelect > .optWrapper {
  border: 1px solid #A6D0FE;
  padding: 22px 0 22px 12px;
}

.cost-box2 .SumoSelect > .optWrapper {
  padding: 22px 0 22px 0;
}

.cost-box1 .SumoSelect > .CaptionCont,
.cost-box2 .SumoSelect > .CaptionCont,
.cost-box3 .SumoSelect > .CaptionCont {
  border: 1px solid #A6D0FE;
}

.cost-box2 {
  margin: 0 43px 0 0;
}

.cost-box2 .SumoSelect {
  width: 130px;
}

.cost-box2 .SumoSelect .SelectBox {
  padding: 17px 8px;
}

.cost-box3 .SumoSelect {
  width: 217px;
}

.cost-box3 .SumoSelect .SelectBox {
  padding: 17px 8px;
}

.cost-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 77px 0 0;
}

.cost-radio__item1:hover,
.cost-radio__item2:hover {
  -webkit-box-shadow: 0 0 2px #4169E1;
          box-shadow: 0 0 2px #4169E1;
  border-color: #4169E1;
}

.cost-radio__item1-input[type='radio'],
.cost-radio__item2-input[type='radio'] {
  display: none;
}

.cost-radio__item1-input[type='radio']:checked + label,
.cost-radio__item2-input[type='radio']:checked + label {
  font-weight: bold;
  background: #E1EDFA;
  border-color: #4169E1;
}

.cost-radio__item1-label,
.cost-radio__item2-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 54px;
  font-size: 0.938em;
  cursor: pointer;
  border: 1px solid #A6D0FE;
}

.cost-radio__item1-label {
  border-radius: 4px 0 0 4px;
}

.cost-radio__item2-label {
  text-transform: lowercase;
  border-radius: 0 4px 4px 0;
}

.cost-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cost-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 318px;
  height: 158px;
  background: #4169E1;
  margin: 0 0 82px 0;
}

.cost-display__left {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 22px;
}

.cost-display__right {
  margin: 0 0 32px 0;
}

.cost-display__right-items {
  margin: 5px 0 0 0;
}

.cost-display__right-text {
  font-weight: 300;
  font-size: 1.25em;
  color: #FFFFFF;
}

.cost-display__right-text:nth-child(2) {
  padding: 18px 0 0 0;
}

.cost-display__right-span {
  font-weight: 500;
  font-size: 1.25em;
  color: #FFFFFF;
  display: inline-block;
  margin: 5px 0;
}

/*- -------------------- </cost-end> -------------------- -*/

/* <how> */

/*- -------------------- <how-start> -------------------- -*/

.how-title {
  margin: 140px 0 60px 0;
}

.how-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
}

.how-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 292.5px;
}

.how-img1,
.how-img2,
.how-img3,
.how-img4 {
  position: relative;
  width: 177px;
  height: 177px;
  border-radius: 50%;
  background: #E1EDFA;
  margin: 0 0 67px 0;
}

.how-img1:before {
  position: absolute;
  content: url("../../img/how/how1.svg");
  right: 0;
  bottom: -8px;
}

.how-img2:before {
  position: absolute;
  content: url("../../img/how/how2.svg");
  right: 0;
  bottom: -8px;
}

.how-img3:before {
  position: absolute;
  content: url("../../img/how/how3.svg");
  right: 0;
  bottom: -8px;
}

.how-img4:before {
  position: absolute;
  content: url("../../img/how/how4.svg");
  right: 0;
  bottom: -8px;
}

.how-subtitle {
  min-height: 85px;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0  0 18px 0;
}

.how-text {
  font-size: 1.125em;
  line-height: 1.313em;
}

/*- -------------------- </how-end> -------------------- -*/

/* <solution> */

/*- -------------------- <solution-start> -------------------- -*/

.solution-content {
  padding: 110px 0 165px 0;
}

.solution-top {
  margin: 0 0 60px 0;
}

.solution-title {
  display: block;
  margin: 0 0 5px 0;
}

.solution-title:before {
  height: 112px;
}

.solution-subtitle {
  font-size: 1.75em;
  line-height: 1.1em;
  font-weight: bold;
  padding: 0 0 0 35px;
}

.solution-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 10px;
}

.solution-item {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solution-text {
  font-size: 1.125em;
  line-height: 1.313em;
  text-align: center;
  margin: 0 0 30px 0;
}

.solution-img {
  width: 262px;
  height: 240px;
  border: 1px solid #4169E1;
  border-radius: 20px;
}

/*- -------------------- </solution-end> -------------------- -*/

/* <slider> */

/*- -------------------- <slider-start> -------------------- -*/

.slider-content {
  position: relative;
}

.slider-inner {
  margin: 60px 0 80px 0;
}

.slick-slider {
  min-width: 0;
  padding: 0 30px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-item {
  width: 174px;
  height: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slick-slide {
  margin: 0 5px;
}

.slider-bottom {
  position: absolute;
  top: 150px;
  width: 100%;
}

.slider-left,
.slider-right {
  width: 20.5px;
  height: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-left {
  position: absolute;
  left: 10px;
}

.slider-right {
  position: absolute;
  right: 10px;
}

/*- -------------------- </slider-end> -------------------- -*/

/* <gallery> */

/*- -------------------- <gallery-start> -------------------- -*/

.gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 30px;
  padding: 100px 0 103px 0;
}

.gallery-item {
  width: 570px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(65, 105, 225, 0.59);
  border-radius: 20px;
}

/*- -------------------- </gallery-end> -------------------- -*/

/* <subFooter> */

/*- -------------------- <subFooter-start> -------------------- -*/

.subfooter {
  background: #E1EDFA;
}

.subfooter-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 0 93px 0;
}

.subfooter-nav {
  margin: 0 0 63px 0;
}

.subfooter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subfooter-list li + li {
  margin: 0 0 0 67px;
}

.subfooter-link {
  font-size: 1.125em;
  color: #1F2030;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.subfooter-link:hover {
  color: #4169E1;
}

.subfooter-img {
  display: inline-block;
  width: 138px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 61px 0 0;
}

.subfooter-adress {
  display: inline-block;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.313em;
  margin: 0 80px 0 0;
}

.subfooter-contact {
  display: inline-block;
  vertical-align: 5px;
  margin: 0 167px 0 0;
}

.subfooter-contact a {
  display: block;
  font-size: 1.125em;
  color: #1F2030;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.subfooter-contact a:hover {
  color: #4169E1;
}

.subfooter-contact a:first-child {
  margin: 0 0 16px 0;
}

.subfooter-items {
  display: inline-block;
  vertical-align: 30px;
}

/*- -------------------- </subFooter-end> -------------------- -*/

/* <footer> */

/*- -------------------- <footer-start> -------------------- -*/

.footer {
  text-align: center;
  font-size: 1.125em;
  line-height: 1.313em;
  color: #FFFFFF;
  background: #4169E1;
  padding: 27px 0;
}

/*- -------------------- </footer-end> -------------------- -*/

/* <crumbs> */

/*- -------------------- <crumbs-start> -------------------- -*/

.crumbs {
  margin: 265px 0 0 0;
}

.crumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crumbs-item {
  margin: 0 15px 0 0;
}

.crumbs-link {
  position: relative;
  font-weight: 300;
  font-size: .875em;
  color: #1F2030;
}

.crumbs-link:hover {
  color: #4169E1;
}

.crumbs-link:after {
  position: absolute;
  content: '/';
  top: 0;
  right: -9px;
}

.crumbs-span {
  font-weight: 300;
  font-size: .875em;
}

/*- -------------------- </crumbs-end> -------------------- -*/

/* <article> */

/*- -------------------- <article-start> -------------------- -*/

.article-title {
  text-align: left !important;
}

.article-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 28px 0;
}

.article-left {
  max-width: 712px;
  margin: 0 124px 0 0;
}

.article-text {
  font-size: 1em;
}

.article-text:nth-child(2) {
  margin: 0 0 20px 0;
}

.article-text:nth-child(6) {
  margin: 0 0 20px 0;
}

.article-subtitle {
  font-size: 2.25em;
  font-weight: normal;
  margin: 40px 0;
}

.article-right {
  max-width: 332px;
  max-height: 478px;
  border: 1px solid #4169E1;
  border-radius: 4px;
  padding: 25px 14px 25px;
}

.article-right__title {
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 35px 0;
}

.article-item {
  margin: 0 0 30px 0;
}

.article-link {
  color: #1F2030;
}

/*- -------------------- </article-end> -------------------- -*/

/* <contact> */

/*- -------------------- <contact-start> -------------------- -*/

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 75px 0;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-item:first-child {
  margin: 0 90px 0 0;
}

.contact-email,
.contact-phone {
  display: block;
  color: #1F2030;
  font-weight: normal;
}

.contact-phone {
  margin: 35px 0;
}

.contact-address {
  font-weight: 300;
}

.contact-subtitle {
  font-size: 1.125em;
}

.contact-text {
  font-weight: 300;
}

.contact-text:nth-child(2) {
  margin: 38px 0 26px 0;
}

.contact-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*- -------------------- </contact-end> -------------------- -*/

/* <modal> */

/*- -------------------- <modal-start> -------------------- -*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.33);
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 16px;
  z-index: 100;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.modal-close img {
  width: 26px;
}

.modal-close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-content {
  position: relative;
  width: 604px;
  height: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  background: #FFFFFF;
  margin: auto;
}

.modal-title {
  font-size: 2.063em;
}

.modal-subtitle {
  font-size: 1.438em;
  line-height: 1.688em;
  margin: 0 0 63px 0;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-tel {
  margin: 71px 0;
}

.modal-mail {
  margin: 0 0 50px 0;
}

.modal-name,
.modal-tel,
.modal-mail {
  width: 411px;
  border-bottom: 1px solid #6F6D6D;
  padding: 0 0 8px 10px;
}

.modal-name::-webkit-input-placeholder, .modal-tel::-webkit-input-placeholder, .modal-mail::-webkit-input-placeholder {
  font-size: 1.438em;
}

.modal-name::-moz-placeholder, .modal-tel::-moz-placeholder, .modal-mail::-moz-placeholder {
  font-size: 1.438em;
}

.modal-name:-ms-input-placeholder, .modal-tel:-ms-input-placeholder, .modal-mail:-ms-input-placeholder {
  font-size: 1.438em;
}

.modal-name::-ms-input-placeholder, .modal-tel::-ms-input-placeholder, .modal-mail::-ms-input-placeholder {
  font-size: 1.438em;
}

.modal-name::placeholder,
.modal-tel::placeholder,
.modal-mail::placeholder {
  font-size: 1.438em;
}

.mail-btm {
  width: 228px;
  height: 49px;
  border: 2px solid #4169E1;
  border-radius: 12px;
  font-size: 1.438em;
}

/*- -------------------- </modal-end> -------------------- -*/

@media (min-width: 1366.98px) {
  .header:hover .header-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header-btn:hover {
    color: #4169E1;
    background: #FFFFFF;
  }

  .box-select {
    cursor: pointer;
  }
}

@media (max-width: 1366.98px) {
  .header-body {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1280px) {
  .header-menu {
    position: absolute;
    top: -12px;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 1100px;
    padding: 0 30px;
  }
}

@media (max-width: 991px) {
  .header-img2 {
    display: none;
  }

  .header-email {
    display: none;
  }

  .intro-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 85px 0 40px 0;
  }

  .intro-left {
    width: auto;
    bottom: 0;
    left: 0;
  }

  .intro-title {
    margin: 0;
  }

  .intro-right {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 5px;
  }

  .intro-img {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .exampl .frame ul li,
  .exampl .block ul li,
  .example .frame ul li,
  .example .block ul li {
    margin: 0 22px 0 0;
  }

  .header {
    border-bottom: 1px solid #4169E1;
  }

  .header-logo {
    margin: 0;
  }

  .header-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .select-box .SumoSelect {
    width: 133px;
  }

  .select-box {
    margin: 0;
  }

  .header-phone {
    margin: 0;
  }

  body.lock {
    overflow: hidden;
  }

  .header {
    padding: 12px 0 18px 0;
  }

  .header-img2 {
    display: none;
  }

  .header-img1 {
    width: 67px;
    height: 25px;
    margin: 0;
  }

  .header-phone {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header-phone__text {
    font-size: 0.625em;
  }

  .select-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 0.625em;
  }

  .phone-img,
  .box-img {
    width: 10px;
    height: 10px;
  }

  .header-btn {
    display: none;
  }

  /******BURGER******/

  .header-burger {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    width: 24px;
    height: 20px;
    z-index: 10;
  }

  .header-burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 12px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    background: #1F2030;
  }

  .header-burger:before,
  .header-burger:after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 12px;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    background: #1F2030;
  }

  .header-burger:before {
    top: 0;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  /******BODY******/

  .header-body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    background: transparent;
    padding: 25px 20px 20px 20px;
  }

  .header-menu {
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 22px 0 0 0;
  }

  .header-body.active {
    top: 0;
  }

  .header-body.active .phone {
    font-weight: bold;
  }

  .header-body.active .phone,
  .header-body.active .phone-img {
    display: block;
  }

  .menu-list {
    display: block;
    text-align: center;
  }

  .menu-list li + li {
    margin: 0;
  }

  .menu-item {
    padding: 0 0 22px 0;
  }

  .intro {
    margin: 66px 0 0 0;
  }

  .intro {
    background-image: url("../../img/intro/introBg2.png") !important;
    background-position: inherit;
  }

  .intro-title {
    font-size: 2.25em;
    line-height: 1em;
  }

  .intro-btn {
    display: none;
  }

  .btn {
    padding: 17px 28px;
  }

  .btn2 {
    display: inline-block;
  }

  .intro-right {
    display: none;
  }

  .intro-item {
    margin: 0 0 10px 0;
  }

  .intro-left p span {
    display: block;
    width: 213px;
    font-size: 0.875em;
    line-height: 1em;
    color: #FFFFFF;
    margin: 26px 0;
  }

  .intro2-subtitle {
    display: inline-block;
  }

  .intro2-content {
    padding: 65px 0 0 0;
  }

  .intro2-img {
    width: 206px;
    height: 91px;
    margin: 0 0 17px 0;
  }

  .intro2-text p {
    font-size: 0.75em;
  }

  .intro2-text p span {
    margin: 0 0 12px 0;
  }

  .what-content {
    padding: 0 0 75px 0;
  }

  #what-content {
    padding: 0;
  }

  .title {
    font-size: 1.063em;
  }

  .title2 {
    font-size: 2.1em;
    text-align: center;
  }

  .what-inner {
    width: 794px;
    margin: 0 0 43px -236px;
  }

  .what-body {
    padding: 20px 0;
  }

  .what-item {
    width: 250px;
    height: 489px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(233, 82, 67, 0.28);
            box-shadow: 0 0 20px rgba(233, 82, 67, 0.28);
  }

  .what-img p {
    font-size: 1.063em;
  }

  .what-img {
    width: 250px;
    height: 299px;
    border-radius: 12px;
  }

  .what-text {
    width: 250px;
    height: 190px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 0.875em;
    padding: 10px 6px 5px 8px;
  }

  .what-btn {
    display: block;
    font-size: 0.875em;
  }

  .btn2 {
    display: none !important;
  }

  .carpets-content {
    width: 758px;
    margin: 0 0 0 -220px;
  }

  .carpets-item {
    width: 238px;
    height: 276px;
  }

  .carpets-bottom {
    margin: 80px 0 75px 0;
  }

  .carpets-btn {
    font-size: 0.875em;
  }

  .crumbs {
    margin: 83px 0 0 0;
  }

  #cost-title {
    display: none;
  }

  .title2 {
    margin: 20px 0 0 0;
  }

  .cost-table {
    display: none;
  }

  .cost-note {
    display: none;
  }

  .cost-subtitle {
    display: none;
  }

  .cost-text {
    display: none;
  }

  .cost-calculator {
    margin: 0;
  }

  .cost-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0;
  }

  .cost-box1 {
    margin: 0 129px 0 0;
  }

  .cost-box1 .SumoSelect {
    width: 190px;
  }

  .cost-box2 {
    position: absolute;
    top: 0;
    right: 17px;
    margin: 0;
  }

  .cost-box2 .SumoSelect {
    width: 101px;
  }

  .cost-box3 .SumoSelect {
    width: 320px;
  }

  .cost-radio {
    margin: 37px 0;
  }

  .cost-display__left {
    width: 33px;
    height: 33px;
    background: url("../../img/cost/check2.svg") 4px 7px no-repeat !important;
    margin: 0 11px 0 14px;
  }

  .cost-display__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .cost-display__right-text {
    font-size: .875em;
  }

  .cost-display__right-span {
    margin: 0 23px 0 0;
  }

  .cost-display {
    width: 317px;
    height: 80px;
    border-radius: 5px;
    margin: 0;
  }

  .cost-btn {
    display: none;
  }

  .how {
    display: none;
  }

  .solution-content {
    padding: 110px 0 80px 0;
  }

  .solution-title:before {
    height: 75px;
  }

  .solution-subtitle {
    font-size: 0.875em;
    font-weight: normal;
  }

  .solution-inner {
    gap: 38px 10px;
  }

  .solution-item {
    width: 150px;
  }

  .solution-text {
    font-size: 0.625em;
    line-height: 0.95em;
    margin: 0 0 25px 0;
  }

  .solution-img {
    width: 150px;
    height: 134px;
  }

  .slider-inner {
    margin: 60px 0 30px 0;
  }

  .slick-slider {
    padding: 0;
  }

  .slider-item {
    width: 76px;
    height: 52px;
  }

  .slider-bottom {
    display: none;
  }

  .gallery-content {
    gap: 17px 7px;
    padding: 55px 0 55px 0;
  }

  .gallery-item {
    width: 155px;
    height: 60px;
    border-radius: 5px;
  }

  .subfooter-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 39px 0 34px 0;
  }

  .subfooter-nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 0 42px 0;
  }

  .subfooter-list li + li {
    margin: 0 0 0 22px;
  }

  .subfooter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .subfooter-item {
    padding: 0 0 10px 0;
  }

  .subfooter-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subfooter-img {
    display: block;
    width: 100px;
    height: 46px;
    -ms-flex-item-align: auto;
        align-self: auto;
    margin: 0 0 39px 0;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .subfooter-adress__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .subfooter-adress {
    font-size: .7em;
    line-height: 1.5em;
    margin: 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .subfooter-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin: 0 0 60px 0;
  }

  .subfooter-items {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 25px 0;
  }

  .subfooter-btn {
    font-size: 1.1em;
    border-radius: 5px;
    padding: 5px 17px;
  }

  .footer {
    font-size: .5em;
    line-height: 1.563em;
  }

  .crumbs-item {
    margin: 0 12px 0 0;
  }

  .article-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 35px 21px 28px 24px;
  }

  .article-left {
    margin: 0 0 60px 0;
  }

  .article-right__title {
    font-size: 1.9em;
  }

  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 52px;
    margin: 28px 0 37px 0;
  }

  .modal-close {
    top: 8px;
    right: 8px;
  }

  .modal-close img {
    width: 20px;
  }

  .modal-content {
    width: 300px;
    height: 400px;
  }

  .modal-title {
    font-size: 1.7em;
  }

  .modal-subtitle {
    font-size: 1.1em;
    text-align: center;
    margin: 0 0 35px 0;
  }

  .modal-tel {
    margin: 40px 0;
  }

  .modal-mail {
    margin: 0 0 30px 0;
  }

  .modal-name,
  .modal-tel,
  .modal-mail {
    width: 270px;
    padding: 0 0 5px 10px;
  }

  .modal-name::-webkit-input-placeholder, .modal-tel::-webkit-input-placeholder, .modal-mail::-webkit-input-placeholder {
    font-size: 1em;
  }

  .modal-name::-moz-placeholder, .modal-tel::-moz-placeholder, .modal-mail::-moz-placeholder {
    font-size: 1em;
  }

  .modal-name:-ms-input-placeholder, .modal-tel:-ms-input-placeholder, .modal-mail:-ms-input-placeholder {
    font-size: 1em;
  }

  .modal-name::-ms-input-placeholder, .modal-tel::-ms-input-placeholder, .modal-mail::-ms-input-placeholder {
    font-size: 1em;
  }

  .modal-name::placeholder,
  .modal-tel::placeholder,
  .modal-mail::placeholder {
    font-size: 1em;
  }

  .mail-btm {
    width: 200px;
    height: 35px;
    font-size: 1.1em;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .what-btn {
    padding: 12px !important;
  }

  .cost-box1 {
    margin: 0 110px 0 0;
  }

  .cost-box2 {
    right: 0;
  }

  .cost-box3 .SumoSelect {
    width: 298px;
  }

  .cost-radio__item1-label,
  .cost-radio__item2-label {
    width: 149px;
  }

  .cost-display {
    width: 298px;
  }

  .gallery-content {
    gap: 12px 5px;
  }

  .gallery-item {
    width: 146px;
  }

  .subfooter-list li + li {
    margin: 0 0 0 16px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .menu-list li + li {
    margin: 0 0 0 50px;
  }

  .menu-link {
    font-size: 1em;
  }
}

@media (min-width: 991px) and (max-width: 1280px) {
  .menu-list li + li {
    margin: 0 0 0 50px;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .header-menu {
    top: 58px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@supports (-webkit-appearance:none){
.SumoSelect > .CaptionCont > label > i{background-image:url("../img/cost/arrows.svg")}
.select-box .SumoSelect > .CaptionCont > label > i{background-image:url("../../img/header/arrow.svg")}
}

 @media (min-width: 1366.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1366.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1182px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){
.intro{background-image:url("../../img/intro/introBg2.webp") !important}
.cost-display__left{background:url("../../img/cost/check2.svg") 4px 7px no-repeat !important}
}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 767px) and (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991px) and (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1280px) and (max-width: 1366px){

@supports (-webkit-appearance:none){

}

}
